@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{Products}
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách Sản phẩm</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Mã số SP</th>
                                <th>Tên sản phẩm</th>
                                <th>Ảnh</th>
                                <th>Giá tiền</th>
                                <th>Số lượng</th>
                                <th>Mô tả</th>
                                <th>Category</th>
                                </t>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var category = "";
                                if (item.CategoryID == 1)
                                {
                                    category = "";
                                }
                                switch (@item.CategoryID)
                                {
                                    case 1:
                                        category = "Đồ chơi bé trai";
                                        break;
                                    case 2:
                                        category = "Đồ chơi bé gái";
                                        break;
                                    case 3:
                                        category = "Đồ chơi LEGO";
                                        break;
                                    case 4:
                                        category = "Đồ chơi Gỗ";
                                        break;
                                    case 5:
                                        category = "Xe oto - máy bay";
                                        break;
                                    case 6:
                                        category = "Đồ chơi giáo dục";
                                        break;
                                    default:
                                        category = "Khác";
                                        break;
                                }
                                var url = "/chi-tiet/" + item.Metatitle + "-" + item.ID;
                                <tr id="row_@item.ID">
                                    <td>
                                        <a href="/Admin/Products/Edit/@item.ID">Sửa</a>
                                        |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                        {
                                            Confirm = "Xóa người dùng này?",
                                            OnComplete = "$('#row_" + @item.ID + "').remove()",
                                            HttpMethod = "Delete"
                                        })
                                    </td>
                                    <td>@item.ID</td>
                                    <td><a target="_blank" href="@url">@item.Name</a></td>
                                    <td><a target="_blank" href="@item.Image">@item.Image</a></td>
                                    <td>@item.Price</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Description</td>

                                    <td><a target="_blank" href="/Product/Category/@item.CategoryID">@category</a></td>
                                </tr>

                            }
                        <td>/</td>
                        <td>/</td>
                        <td>/</td>
                        <td>/</td>
                        <td>/</td>
                        <td>/</td>
                        <td>/</td>
                        <td><a href="/Admin/Products/Create">Thêm sản phẩm</a></td>
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
                </div>
            </div>
        </div>
    </div>
</div>