@model PagedList.IPagedList<Model.EF.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{Hóa đơn}
<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Danh sách Sản phẩm</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Mã hóa đơn</th>
                                <th>Ngày lập hóa đơn</th>
                                <th>Mã khách hàng</th>
                                <th>Tên người nhận</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ nhận hàng</th>
                                <th>Email</th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {


                            <tr id="row_@item.ID">
                                <td>
                                    <a href="/Admin/Bill/Edit/@item.ID">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                    {
                                        Confirm = "Xóa hóa đơn này?",
                                        OnComplete = "$('#row_" + @item.ID + "').remove()",
                                        HttpMethod = "Delete"
                                    })
                                </td>
                                <td><a href="/Admin/Bill/Detail/@item.ID">@item.ID</a></td>
                                <td>@item.CreateDate</td>
                                <td>@item.CustomerID</td>
                                <td>@item.ShipName</td>
                                <td>@item.ShipMobile</td>
                                <td>@item.ShipAddress</td>
                                <td>@item.ShipEmail</td>
                            </tr>

                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
                </div>
            </div>
        </div>
    </div>
</div>